* {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box;
}

body {
    max-width: 1500px;
    min-width: 660px;
    width: 100%;
    background-color: hsl(40 20% 90%);
    font-family: Helvetica, sans-serif;
}

main {
    position: relative;
    top: 180px;
    margin: 0px 10px;
    margin: 0 auto;
    width: 70%;
}

h1,h2 {
    line-height: 1.5;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

h1 {
    font-size: 36px;
    color: #4D473D;
    padding-left: 10px;
}

header h1 {
    text-align: left;
}

header {
    border: 2px solid ##655959;
    width: 100%;
    background-color: hsl(40 20% 95%);
    margin-bottom: 50px;
    position: fixed;
    z-index: 1;
}

h2 {
    font-size: 28px;
    font-weight: 600;
    color: #4E5D4E;
    margin-bottom: 2rem;
}

h3 {
    margin-bottom: 1.5rem;
    font-size: 20px;
    font-weight: 400;
}

p {
    margin-bottom: 1.5rem;
}

/* nav section */

nav {
    margin: 0 auto;
    font-size: larger;
}
nav ul {
   list-style-type: none;
   background-color: #BD978E;
   overflow: hidden;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    text-align: center;
    text-transform: uppercase;
}

nav a:hover {
    color: #5D7747;
    font-weight: bolder;
}

nav li {
    float: left;
}

/* color section */
.colors {
    border: 2px solid #AABCAC;
    padding-left: 10px;
    margin-bottom: 1rem;
    padding-right: 10px;
    background-color: hsl(40 20% 95%);
}

.colorboxes ul li{
    display: inline-block;
    padding: 60px 20px;
    margin-bottom: 1rem;
    width: 200px;
    height: 200px;
    text-align: center;
    border: 1px solid inherit;
    border-radius: 25px;
}

.colorboxes ul li span {
    display: block;
    margin: 10px; 
}

#color1 {
    background-color: #4D473D;
    color: white;

}

#color2 {
    background-color: #4E5D4E;
    color: white;

}

#color3 {
    background-color: #5D7747;
    color: white;

}

#color4 {
    background-color: #655959;
    color: white;
}

#color5 {
    background-color: #BD978E;
    color: white;

}

#color6 {
    background-color:  #B7B1B1;
    color: white;
}

/* fonts section */

.fonts {
    border: 2px solid #AABCAC;
    padding-left: 10px;
    margin-bottom: 1rem;
    padding-right: 0px;
    background-color: hsl(40 20% 95%);
}

.fontboxes ul {
    display: inline-block;
    margin-right: 40px;
    list-style-type: none;
    margin-bottom: 20px;
}

/* Montserrat */

#Montserrat1 {
    text-decoration: underline;
    font-family: "Montserrat";
}

#Montserrat2 {
    font-family: "Montserrat";
}

#Montserrat3 {
    font-family: "Montserrat";
    font-weight: 700;
}

#Montserrat4 {
    font-family: "Montserrat";
    font-style: italic;
}

/* Lato */

#Lato1 {
    text-decoration: underline;
    font-family: "Lato";
}

#Lato2 {
    font-family: "Lato";
}

#Lato3 {
    font-family: "Lato";
    font-weight: bold;
}

#Lato4 {
    font-family: "Lato";
    font-style: italic;
}

/* Raleway */

#Raleway1 {
    text-decoration: underline;
    font-family: "Raleway";
}

#Raleway2 {
    font-family: "Raleway";
}

#Raleway3 {
    font-family: "Raleway";
    font-weight: bold;
}

#Raleway4 {
    font-family: "Raleway";
    font-style: italic;
}


/* styles section */

.styles {
    border: 2px solid #AABCAC;
    padding-left: 10px;
    margin-bottom: 1rem;
    background-color: hsl(40 20% 95%);
}

.styles .styleboxes {
    display: inline-block;
    list-style-type: none;
}

.styleboxes ul {
    padding-left: 40px;
    line-height: 1.5;
    margin-bottom: 2rem;
}

#Bigheading {
    font-size: 36px;
    font-family: "Montserrat";
    font-weight: 700;
    color: #4D473D;
    margin-top: 0px;
}

#Subheading {
    font-size: 28px;
    font-weight: 500;
    font-family: "Lato";
    color: #4E5D4E;
}

#Heading3 {
    font-size: 20px;
    font-weight: 400;
    font-family: "Lato";
    color: #5D7747;
    text-transform: uppercase;
}


#Paragraph {
    font-size: 16px;
    font-weight: 400;
    font-family: "Raleway";
}

/* Section for other elements */

.other {
    border: 2px solid #AABCAC;
    padding-left: 10px;
    margin-bottom: 1rem;
    background-color: hsl(40 20% 95%);
}

.other .styleboxes {
    display: inline-block;
    list-style-type: none;
}

.styleboxes ul {
    padding-left: 40px;
    line-height: 1.5;
    margin-bottom: 2rem;
}
